# Include LICENSE.md
include LICENSE.md

# Include all the models files
recursive-include musicnn/MTT_musicnn *
recursive-include musicnn/MTT_vgg *
recursive-include musicnn/MSD_musicnn *
recursive-include musicnn/MSD_vgg *
